@font-face {
    font-family: "main-font";
    src: url(fonts/MonomaniacOne-Regular.ttf);
}

@font-face {
    font-family: "sec-font";
    src: url(fonts/JosefinSans-Regular.ttf);
}

* {
    box-sizing: border-box !important;
}

body {
    min-height: 100vh !important;
    width: 100% !important;
    background-image: radial-gradient(circle, #4c5457, #3b4144, #2b3032, #1c1f21, #0a0d10) !important;
}

.navbar-main-styling {
    background-color: transparent !important;
    /* border: 2px solid red; */
    font-family: "main-font";
    color: #fff;
}

.nav-search-bar:focus {
    border-color: #6c757d !important;
    box-shadow: 0 0 0 0.25rem #b8b9ba65 !important;
}

.top-section {
    height: 680px !important;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.hero-image-wrapper {
    /* width: 50%; */
    /* min-width: 350px; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-image-wrapper img {
    /* border: 2px solid red; */
    /* width: 95%; */
    width: 500px;
}

.hero-image-title {
    /* width: 50%; */
    /* min-width: 350px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-image-title h1 {
    font-size: 75px;
    font-family: "sec-font";
    color: #fff;
    font-weight: 600;
}

.hero-sec-btn {
    margin-right: auto;
    font-family: "sec-font";
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

.hero-sec-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.hero-sec-btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #d8a74e;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.hero-sec-btn:hover {
    color: #ffffff;
    border: 1px solid #d8a74e;
}

.hero-sec-btn:hover:before {
    top: -35%;
    background-color: #d8a74e;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.hero-sec-btn:hover:after {
    top: -45%;
    background-color: #d8a74e;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.hero-sec-btn a {
    text-decoration: none;
    color: black;
}

.hero-sec-btn a:hover {
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .hero-image-title h1 {
        font-size: 50px;
    }

    .hero-image-wrapper img {
        width: 350px !important;
    }

    .hero-sec-btn {
        font-size: 15px;
        padding: 10px 16px;
    }
}

@media only screen and (max-width: 700px) {
    .hero-image-title h1 {
        font-size: 45px;
    }

    .hero-image-wrapper img {
        width: 300px !important;
    }

    .hero-sec-btn {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media only screen and (max-width: 576px) {

    .hero-image-wrapper {
        display: none !important;
    }

    .hero-sec-btn {
        margin: 0px !important;
    }

    .hero-image-title {
        text-align: center;
    }

    .hero-section {
        background-image: url(images/hero-image-small-screen.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}

.main-area {
    /* background-color: aliceblue; */
    border-top: 4px solid #6c757d;
    border-bottom: 4px solid #6c757d;
    font-family: "sec-font";
    color: #fff;
    text-align: center;
}

.companies img {
    filter: invert();
    width: 120px;
    height: 80px;
}

.companies {
    display: flex !important;
    /* align-items: center; */
    justify-content: center;
}

.company-card {
    padding: 5px 0px;
    margin-bottom: 10px !important;
}

.company-card:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all .4s ease;
    border: #3b4144;
    box-shadow: 0px 0px 4px #d6b858;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {

    .company-card {
        flex: 0 0 auto !important;
        width: 41.66666667% !important;
    }
}

@media only screen and (max-width: 768px) {
    .companies img {
        width: 80px;
        height: 60px;
    }
}

.card {
    display: flex !important;
    align-items: center;
    width: 100%;
    max-width: 290px !important;
    background-color: transparent !important;
    color: #fff !important;
    border: 2px solid #d8a74e !important;
    margin-bottom: 10px;
}

.card-image-area {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 190px;
    background-image: url(images/reebok-type-4.jpg);
    background-size: cover;
    background-position: center;
}

.company-name {
    color: #eed878 !important;
    letter-spacing: 2px;
}

.footer {
    /* background-color: red; */
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer h4 {
    font-family: "main-font";
    font-size: 28px;
    color: #6c757d;
}

.card-container {
    display: flex !important;
    justify-content: center;
}